@use '../../../styles/mixins' as *;

:host {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.sidenav__backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity var(--transition-medium);
  pointer-events: none;
}

.drawer-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 2000;
  pointer-events: none;
  animation: none;
}

.sidenav {
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  max-width: 80%;
  height: 100%;
  background-color: white;
  box-shadow: 0 6px 24px rgba(60, 64, 67, 0.15);
  transform: translateX(-100%);
  padding: 0;
  display: flex;
  flex-direction: row;
  pointer-events: all;
}

.drawer-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.drawer-header {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}
.logo-link {
  display: flex;
  align-items: center;
}

.sidenav__title {
  margin-left: 8px;
  color: #636363;
  font-weight: 500;
  font-size: 23px;
}

.sidenav__links {
  display: flex;
  flex-direction: column;
  a {
    border-radius: 10rem;
    padding: 0.8rem;
    font-size: 1rem;
  }
  .external {
    font-size: 16px;
    margin-top: 10px;
    transition: transform 0.2s ease-out;
  }
}

.sidenav__links a:hover {
  background-color: rgba(60, 64, 67, 0.06);
  color: #202124;
}

.drawer-footer {
  padding: 16px;
  border-top: 1px solid #eaeaea;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: -60px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 11;
  pointer-events: none;
  opacity: 0;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
