<mat-toolbar class="toolbar">
  <div class="left-container">
    <button mat-icon-button class="menu-btn" (click)="toggleMenu()" aria-label="Open menu">
      <mat-icon>menu</mat-icon>
    </button>

    <a routerLink="/" class="logo-link">
      <img [ngSrc]="'assets/chrome.png'" alt="logo" width="35" height="35" decoding="async" loading="lazy" />
      <span>Chrome</span>
    </a>
  </div>

  <nav class="nav-links">
    <a href="#" class="nav-link">Sécurité</a>
    <a href="#" class="nav-link">Par Google</a>
    <a href="#" class="nav-link">Extensions
      <mat-icon class="external-icon">arrow_outward</mat-icon>
    </a>
  </nav>
</mat-toolbar>