<section class="hero" #container>
  <div class="hero__wrapper">
    <div class="hero__logo">
      <img [ngSrc]="'assets/chrome.png'" alt="Chrome logo" width="63" height="63" class="logo-img" decoding="async"
        loading="lazy" />
    </div>

    <h1 class="hero__headline" #headline>
      Le navigateur <br />
      à votre image
    </h1><br>


    <button type="button" class="hero__download-btn"><mat-icon>download</mat-icon>Télécharger Chrome</button>
    <br />
    <div class="hero__links">
      <a class="hero__update-link" href="#">Je souhaite mettre à jour
        Chrome</a>
      @if (width() >= medium) {
      <span class="hero__note">Pour Windows 11/10 64-bit</span>
      }
    </div>
    @if (width() >= medium) {
    <div class="h-s">
      <div style="display: flex; align-items: center;">
        <mat-checkbox></mat-checkbox>
        <span>
          Aidez-nous à améliorer Google Chrome en nous envoyant
          automatiquement des <br> statistiques
          d'utilisation et des rapports d'erreur. <a class="more" href="#"> En savoir plus</a>
        </span>
      </div>

      <span>En téléchargeant Chrome, vous acceptez les <a class="more" href="#">Conditions d'utilisation de
          Google</a>
        et les <br> <a class="more" href="#">Conditions
          d'utilisation supplémentaires de Google Chrome et ChromeOS.</a></span>
    </div>
    }
  </div>
  <div class="mosaic" #mosaic>
    <div class="mosaic__scaler">
      <div #hS></div>
      <div class="mosaic__track" #track>
        <article class="mosaic__card mosaic__card--left">
          <img class="img1" [ngSrc]="'/assets/sections-images/image1.png'" alt="image1" width="1000" height="600"
            decoding="async" loading="lazy">
        </article>
        <article class="mosaic__card mosaic__card--extra">
          <img class="img2" [ngSrc]="'/assets/sections-images/image2.png'" alt="image2" width="300" height="600"
            decoding="async" loading="lazy">
        </article>
        <article class="mosaic__card mosaic__card--center">
          <img class="img1" [ngSrc]="'/assets/sections-images/image3.png'" alt="image3" width="1000" height="600"
            decoding="async" loading="lazy">
        </article>
        <article class="mosaic__card mosaic__card--extra">
          <img class="img2" [ngSrc]="'/assets/sections-images/image4.png'" alt="image4" width="300" height="600"
            decoding="async" loading="lazy">
        </article>
        <article class="mosaic__card mosaic__card--right">
          <img class="img1" [ngSrc]="'/assets/sections-images/image5.png'" alt="image5" width="1000" height="600"
            decoding="async" loading="lazy">
        </article>
      </div>
    </div>
  </div>
</section>

<!-- QR widget: show only on large screens -->
@if (width() >= medium) {
@if (state.qrExpanded()) {
<div class="footer-qr-code" (click)="toggleQr()">
  <div class="item1">
    <img [ngSrc]="'assets/chrome_qr_code.png'" alt="QR Code Télécharger Chrome" class="qr-image" width="80" height="80"
      decoding="async" loading="lazy" />
    <mat-icon class="arrow1">arrow_forward_ios</mat-icon>
  </div>
  <span class="qr-text">Télécharger Chrome pour votre téléphone</span>
</div>
} @else {
<div class="item2" (click)="toggleQr()">
  <mat-icon>tablet_android</mat-icon>
  <mat-icon class="arrow2">arrow_back_ios</mat-icon>
</div>
}
}