<div class="app-features-root container" #root>
  <!-- Navigation removed from Features since short-bar handles it -->

  <div class="app-features-content">
    <div id="updates" class="feature-section-wrapper">
      <app-updates></app-updates>
    </div>
    <div id="yours" class="feature-section-wrapper">
      <app-yours></app-yours>
    </div>
    <div id="safe" class="feature-section-wrapper">
      <app-safe></app-safe>
    </div>
    <div id="fast" class="feature-section-wrapper">
      <app-fast></app-fast>
    </div>
    <div id="by-google" class="feature-section-wrapper">
      <app-by-google></app-by-google>
    </div>
  </div>
</div>