<section>
  <mat-card class="last-card">
    <h2>Emportez votre navigateur avec vous</h2><br>
    @if (width() >= medium) {
    <p>Téléchargez Chrome sur votre appareil mobile ou votre tablette et
      connectez-vous à
      votre compte pour profiter de la même expérience sur votre navigateur, où que vous soyez.</p><br>
    }
    <button class="btn-end"><mat-icon>download</mat-icon>
      Télécharger
      Chrome</button>

    @if (width() >= medium) {
    <div class="item-qr_code">
      <img src="/assets/chrome_qr_code.png" alt="download_chrome">
      <span>Télécharger <br>
        Chrome pour
        votre
        <br>téléphone</span>
    </div>
    }
  </mat-card>
</section>